
 html {
    min-height: 100%;
    background-color: #0769ad;
    box-shadow: 0 0 8px 4px #06599d inset; }

  body {
    font-size: 16px;
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif; }

    #content {
      display: flex;
      justify-content:center;
      align-items:center;
      text-align:center;
      overflow: auto;
      width: 80%;
      background-color: #fff;
      margin: 30px auto 0 auto;
      padding: 20px 30px;
      border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px; }

img{
    height: 70%;
    width: 70%;
}
.gallery{

}
